body {
    font-family: Arial, sans-serif;
    background-color: #80D0C7;
    background-image: linear-gradient(135deg, #80D0C7 0%, #0093E9 55%);
    margin: 0;
    height: 100vh; /* Aukštis 100% naršyklės lango */
  }
  
  .form-container {
    max-width: 300px; /* Pakeista, kad būtų šiek tiek platesnė */
    margin: 0 auto;
    padding: 20px; /* Didesnė padding reikšmė */
    background-color: #80D0C7;
    background-image: linear-gradient(135deg, #80D0C7 0%, #0093E9 55%);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h3 {
    text-align: center; /* Centruoja antraštę */
    margin-bottom: 1rem; /* Pridedame tarpus */
  }
  
  .form-container form div {
    margin-bottom: 1rem;
  }
  
  .form-container form label {
    display: block;
    margin-bottom: 0.5rem; /* Pridedame tarpus */
  }
  
  .form-container form input,
  .form-container form textarea,
  .form-container form button {
    width: 100%;
    padding: 0.5rem; /* Pridedame padding */
    border: 1px solid #ccc;
    border-radius: 4px; /* Kampai suapvalinti */
    box-sizing: border-box;
  }
  
  .form-container form button {
    background-color: #0093E9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-container form button:hover {
    background-color: #007bb5;
  }
  
  .works-container {
    padding: 20px;
  }
  
  #search {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #search-button {
    background-color: #0093E9;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  #search-button:hover {
    background-color: #007bb5;
  }
  
  .work-item {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .work-item img {
    max-width: 100%;
    height: auto;
  }
  
  .work-item button {
    margin-right: 0.5rem;
  }
  