.workListContainer {
  padding: 1rem;
  background-color: #f1f1f1;
  position: relative; /* Pridedame pozicijos reikšmę, kad būtų galima pozicionuoti mygtuką */

  .addWorkLink {
    position: absolute;
    top: 20px;
    right: 20px; /* Pozicionuojame mygtuką į dešinę viršų */
    font-size: 14px; /* Sumažiname šriftą */
    color: #007BFF; /* Spalva */
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; /* Pašaliname numatytąją nuorodos stilių */
    transition: color 0.3s ease; /* Skirta efektui, kai pabraukiama pele */

    &:hover {
      color: #0056B3; /* Keičiame spalvą, kai pele nukeliaujama ant mygtuko */
    }
  }

  .worksFlexContainer {
    display: flex;
    flex-wrap: wrap; /* Leidžia automatiškai pereiti į naujas eilutes */
  }

  .workItem {
    flex: 0 1 18%; /* Užima maždaug 18% pločio */
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
    margin-right: 1.5%;
    margin-bottom: 1.5%; /* Fiksuotas tarpas tarp elementų */
  }

  .workItemContainer {
    display: flex;
    flex-direction: column;
  }

  .workPhoto {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
  }

  .workTitle {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .workDescription {
    margin-bottom: 10px;
  }

  .formGroup {
    margin-bottom: 1rem;
  }

  .inputField {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .error {
    color: red;
  }

  .editButton, .deleteButton {
    width: 80px;
    font-size: 10px;
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }

  .deleteButton {
    background-color: #dc3545; /* Raudona spalva trinimui */
  }

  .editButton {
    background-color: #28a745; /* Žalia spalva redagavimui */
    margin-right: 10px;
  }
}
